#logo{
    padding-left: 10px;
}

.center-align {
    height:100vh;
    padding-top: 100px;
}

#main-section{
    background-color: #fff3e0;
}

html {
    scroll-behavior: smooth;
}

#paragraph{
    font-size: 20px;
}

